@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

.bg-body {
    background-color: #101010 !important;
}

.nav-wrapper li a {
    border-radius: 11px;
    display: flex;
    align-items: center;
    color: #6c757d;
    transition: .2s ease-in-out;
}

.nav-wrapper li a:hover {
    background-color: #1b1b1b;
    color: #ececec;
}

.sp-text {
    color: #ececec !important;
    font-size: 13px !important;
}

.active-button {
    background-color: black !important;
    color: white;
}

.active-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.inactive-button {
    background-color: rgba(33, 37, 41, 0.75) !important;
    color: #6c757d !important;
}

.inactive-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.bg-footer {
    background-color: #1b1b1b !important;
    color: #ececec;
}

.orange-color {
    color: #e76f51;
}

.slick-track {
    display: flex !important;
    gap: 10px !important;
}

.rounded-r-none {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.custom_scrollbar::-webkit-scrollbar {
    width: 4px;
    scroll-behavior: smooth;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
    background-color: #99a2ab;
    border-radius: 5px;
}