@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

.bg-body {
    background-color: #101010 !important;
}

.nav-wrapper li a {
    border-radius: 11px;
    display: flex;
    align-items: center;
    color: #6c757d;
    transition: .2s ease-in-out;
}

.active-link {
    background-color: #1b1b1b;
    color: #ececec !important;
}

.nav-wrapper li a:hover {
    background-color: #1b1b1b;
    color: #ececec;
}

.sp-text {
    color: #ececec !important;
    font-size: 13px !important;
}

.active-button {
    background-color: black !important;
    color: white;
}

.active-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.inactive-button {
    background-color: rgba(33, 37, 41, 0.75) !important;
    color: #6c757d !important;
}

.inactive-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.bg-footer {
    background-color: #1b1b1b !important;
    color: #ececec;
}

.orange-color {
    color: #e76f51;
}

.slick-track {
    display: flex !important;
    gap: 10px !important;
}

.rounded-r-none {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.custom_scrollbar::-webkit-scrollbar {
    width: 4px;
    scroll-behavior: smooth;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
    background-color: #99a2ab;
    border-radius: 5px;
}

.ant-avatar {
    width: 24px !important;
    height: 24px !important;
}

.ant-avatar-icon {
    font-size: 13px !important;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ant-divider {
    border-block-start: 1px solid #292929 !important;
}

.cntc-form .ant-form-item-label>label {
    color: white !important;
}

.cntc-form .ant-input,
.ant-input-password,
.ant-picker {
    background-color: #101010 !important;
    border-radius: 10px !important;
    border-color: #333538 !important;
    color: white !important;
    font-size: 14px !important;
}

.ant-picker .ant-picker-suffix {
    color: white !important;
}

.ant-picker .ant-picker-input>input,
.ant-radio-wrapper {
    color: white !important;
}

.cntc-form .ant-input:focus,
.ant-input-affix-wrapper:focus-within,
.ant-picker {
    border-color: #333538 !important;
    box-shadow: none !important;
    outline: none !important;
}

.ant-form-item-required::before {
    display: none !important;
}

.anticon.ant-input-password-icon {
    color: white !important;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #e76f51 !important;
}

.ant-radio-checked .ant-radio-input:checked+.ant-radio-inner {
    background-color: #e76f51;
}

.ant-radio-wrapper:hover {
    border-color: #e76f51 !important;
}