.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 251px 642px 308px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "navbar main sidebar"
        "navbar main sidebar";
    min-height: 100vh;
    align-items: start;
    justify-content: center;
}


.navbar {
    grid-area: navbar;
    position: relative;
    border-right: 1px solid #292929;
    height: 100%;
}

.fixedNavbar {
    position: sticky;
    top: 20px;
    padding-right: 15px;
}

.sidebar {
    grid-area: sidebar;
    position: relative;
    padding-left: 15px;
    height: 100%;
    border-left: 1px solid #292929;

}

.fixedSidebar {
    position: sticky;
    top: 20px;
    padding-left: 15px;
}


.main {
    grid-area: main;
    position: relative;
    border-right: 1px solid #292929;
    border-left: 1px solid #292929;
}

.btnGroup {
    position: sticky;
    top: 20px;
    z-index: 100;
}

.sign_in_btn {
    background-color: #e3694a !important;
}

.navpills:hover {
    background-color: rgba(33, 37, 41, 0.75) !important;
}

.slickSlider {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    gap: 10px !important;
}

.top_border {
    border-top: 0.3px solid #292929;
}

.bottom_border {
    border-bottom: 0.3px solid #292929;
}

.textinput {
    outline: none !important;
}


@media screen and (max-width:992px) {

    .navbar,
    .sidebar {
        display: none;
    }

    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "navbar"
            "main"
            "footer";
    }
}